.content{
    width: 200px;
    height: 150px;
    background: #000;

    position: relative;
}

.bg{
    /*位置の設定*/
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    /*背景画像の設定*/
    background: url(/images/tasktop-min.jpg);
    background-size: cover;

    /*透過の設定*/
    opacity: 0.5;
}

.massage{
    width: 100vw; /*absoluteで位置を設定するときに、幅と高さは必ず必要*/
    height: 1.5em;
    font-weight: bold;
    text-align: center;
    font-size: small;

    /*位置の設定　- 上下中央寄せ*/
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

h1{
    height:4vh;
}